$bgColor: #eeeeec;

$textLight: #ffffff;
$textBlue: #d4ffff;

$inputsBg: #d9d9d9;

$bgSpan: #9bc8ff;

$buttons: #3f4652;
$buttonsP: #4145a9;

$elements: #ddddda;

$spanBg: #454647;

$darkEls: rgb(2, 4, 63);

$middle: #b3b4d8;

$textDark: #282828;

$blue: #eb591d;


%title-font {
  font-family: 'Comfortaa', sans-serif;
  // font-family: 'Playpen Sans', cursive;
  font-size: 25px;
  line-height: 1.5;
}

%text-font {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  font-style: normal;
  color: #313131;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('../assets/fonts/TTHoves-DemiBold.woff2') format('woff2'),
       url('../assets/fonts/TTHoves-DemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

%logo-font {
  letter-spacing: 0.01rem;
  font-family: "TT Hoves", sans-serif;
  color: $textDark;
  font-size: 1.7rem;
}
