$bgColor: #282836;

$textLight: #FFFFFF;

$elements: #9b786f;
$middle: #9d8d8f;
$darkEls: #46344e;
$textDark: #000;
$blue: #faed26;

%title-font {
    font-family: 'Comfortaa', sans-serif;
    // font-family: 'Playpen Sans', cursive;
    font-size: 25px;
    line-height: 1.50;
}


