@import 'vars';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.main {
  background-color: $bgColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  @extend %title-font;
}

.hash-span {
  position: absolute;
  opacity: 0;
}

.section {
  position: relative;
  width: min(1280px, 100%);
  padding: 0 20px;
  margin: 0 auto;
}

.section__vide {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.slider {
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  margin-left: calc((100% - min(1280px, 100%)) / 2);
  padding: 0 0 0 20px;

  &__controller {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    display: block;
    margin: 0 5px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: none;
    background-color: $buttons;
    z-index: 2;
  }

  &__button:active {
    background-color: $buttonsP;
  }

  &__button:hover {
    background-color: $buttonsP;
  }

  &__dotes {
    display: flex;
    align-items: center;
  }

  &__dote {
    display: block;
    position: relative;
    width: 8px;
    height: 8px;
    margin: 0 5px;
  }

  &__dote::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $bgSpan;
    border-radius: 50%;
  }

  &__dote--active::before {
    background-color: $textLight;
  }
}

.card {
  max-width: 295px;
  height: 450px;
  min-width: 295px;
  margin: 0 20px 0 0;
  background-color: #313131;
  border-radius: 15px;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__price {
    position: absolute;
    padding: 5px 15px;
    top: 16px;
    right: 16px;
    color: $textBlue;
    background-color: $spanBg;
    font-size: 14px;
    border-radius: 0 8px 0 8px;
  }

  &__tags {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 16px;
    padding: 5px 15px;
  }

  &__tag__new {
    background-color: #ff5e2d;
    padding: 0px 5px;
    margin-right: 5px;
  }

  &__tag__hit {
    background-color: #16d9a6;
    padding: 0px 5px;
    margin-right: 5px;
  }

  &__img {
    max-width: 100%;
    height: 328px;
    object-fit: cover;
    border-radius: 8px;
  }

  &__tittle {
    color: $textBlue;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 18px;
  }

  &__buttons {
    margin-top: 12px;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: space-between;
  }

  &__about {
    margin-left: 10px;
    padding: 6px 30px 6px 10px;
    border-radius: 15px;
    border: none;
    position: relative;
    background-color: $textBlue;
    color: $buttonsP;
  }

  &__about::after {
    content: '';
    position: absolute;
    top: 3px;
    right: 3px;
    height: 25px;
    width: 25px;
    background-image: url('../assets/eye.svg');
  }

  &__order {
    padding: 6px;
    background-color: $blue;
    border: none;
    border-radius: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .slider {
    margin-left: 0;
    padding: 0;
  }

  .card {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 500px) {
  .excurs__text {
    max-width: 80%;
  }

  .card__buttons {
    font-size: 14px;
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: auto;
  z-index: 3;
  margin: 0 auto;

  &__background {
    position: relative;
  }

  &__background__left {
    position: absolute;
    height: 541px;
    width: 667px;
    top: -150px;
    right: max(80vw, 1400px);
    background-image: url('../assets/bg-left-1.png');
    background-repeat: no-repeat;
    z-index: 0;
    overflow: hidden;
  }

  &__background__right {
    position: absolute;
    height: 541px;
    width: 667px;
    top: -150px;
    left: max(80vw, 1400px);
    background-image: url('../assets/bg-right-1.png');
    background-repeat: no-repeat;
    z-index: 0;
    overflow: hidden;
  }

  &__logo__img {
    height: 100px;
    max-width: 100%; /* Чтобы логотип не выходил за пределы родительского контейнера */
  }

  &__social {
    flex: 1; /* Растягиваем блок соцсетей на всю доступную ширину */
    display: flex;
    justify-content: flex-start; /* Располагаем их справа */
    align-items: center; /* Центрируем вертикально */
  }

  &__social__link__img {
    height: 40px;
  }

  &__phone {
    padding: 15px 0px 15px 20px;
    border-radius: 15px;
    flex: 1; /* Растягиваем блок с номером телефона на всю доступную ширину */
    display: flex;
    flex-direction: column;
    text-align: end;
    background-color: $bgColor;
    font-size: 20px;
  }

  &__phone__link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
    text-decoration: none;
  }

  &__phone__link__img {
    height: 30px;
    margin-right: 10px;
    overflow: hidden;
  }

  &__phone__link__text {
    color: $textLight;
    text-decoration: none;
  }

  &__phone__time {
    color: $textLight;
    text-decoration: none;
  }

  &__social__link + &__social__link {
    margin-left: 20px;
  }
}

/* Медиазапрос для мобильных устройств */
@media only screen and (max-width: 768px) {
  .header {
    height: auto;
    align-items: center;
    flex-wrap: wrap;
  }

  .header__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .header__social,
  .header__phone {
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
  }

  .header__social {
    margin-top: 5px;
    order: 1;
  }

  .header__phone {
    font-size: 18px;
    padding-top: 0;
    order: 2;
    margin-bottom: 0;
  }

  .header__phone__link {
    justify-content: center;
  }

  .header__phone__link__img {
    height: 20px;
    width: 20px;
  }

  .header__background__left,
  .header__background__right {
    display: none; /* TODO Скрываем задние изображения на мобильных устройствах TODO MediaQuery */
  }
}

@media only screen and (max-width: 500px) {
  .header {
    flex-direction: column;
  }

  .header__social {
    margin-bottom: 5px;
  }

  .header__logo__img {
    height: 70px;
  }

  .header__social__link__img {
    width: 25px;
    height: 25px;
  }

  .header__phone {
    padding-left: 0;
    font-size: 14px;
  }
}

.hero {
  padding-bottom: 200px;
  z-index: 3;

  &__background {
    width: 100%;
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    overflow-y: visible;
  }

  &__nav {
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    color: $textLight;
    width: min(1280px, 100%);
    @extend %title-font;
  }

  &__nav__link {
    color: $textLight;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    @extend %title-font;
  }

  &__nav__link + .hero__nav__link {
    padding-left: 15px;
  }

  &__box {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  &__slider {
    width: 45vw;
    margin-bottom: 45px;
    height: 75vh;
    display: flex;
    flex-direction: column;
  }

  &__slider__box {
    margin: 0 auto;
    padding: 0 2.5vw;
  }

  &__slider__img {
    width: 45vw;
    height: 70vh;
    object-fit: cover;
    object-position: center;
  }

  &__slider__controller {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__slider__button {
    display: block;
    margin: 0 5px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: none;
    background-color: $buttons;
    z-index: 2;
  }

  &__slider__button:active {
    background-color: $buttonsP;
  }

  &__slider__button:hover {
    background-color: $buttonsP;
  }

  &__slider__dotes {
    display: flex;
    align-items: center;
  }

  &__slider__dote {
    display: block;
    position: relative;
    width: 8px;
    height: 8px;
    margin: 0 5px;
  }

  &__slider__dote::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $bgSpan;
    border-radius: 50%;
  }

  &__slider__dote--active::before {
    background-color: $textLight;
  }

  &__section {
    width: 100%;
  }

  &__namer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20px;
    margin-bottom: 140px;
  }

  &__namer__header {
    width: 40vw;
    font-family: 'Caveat', cursive;
    font-weight: 700;
    font-size: min(7vh, 8vw);
  }

  &__namer__line {
    position: relative;
    background-color: $bgSpan;
  }

  &__namer__line::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 45vw;
    height: 15px;
    background-color: $bgSpan;
    z-index: 2;
  }

  &__slide__carousel {
    width: 50vw;
  }
}

@media only screen and (max-width: 1000px) {
  .hero__nav__link {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    padding-bottom: 50px;
  }

  .hero__box {
    margin-top: 80px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .hero__box {
    margin-top: 20px;
  }

  .hero__slider {
    width: 100%;
  }

  .hero__slider__box {
    padding: 0;
  }

  .hero__slider__img {
    width: calc(100vw - 40px);
    height: 70vh;
    object-fit: cover;
  }

  .hero__namer {
    width: calc(100vw - 40px);
    justify-content: flex-start;
    margin: 0;
  }

  .hero__namer__header {
    width: 100%;
    text-align: center;
  }

  .hero__namer__line {
    display: none;
  }
}

.excurs {
  z-index: 3;
  @extend %text-font;
  margin-bottom: 20px;

  &__background {
    position: relative;
    min-height: 500px;
    width: 100%;
    background-color: $textLight;
    color: #000;
  }

  &__background__top {
    position: absolute;
    top: 120px;
    left: 0;
    transform: translateY(-80%);
    height: 456px;
    width: 100%;
    background-image: url('../assets/clouds.png');
    background-size: cover;
    z-index: 0;
  }

  &__background__mountain {
    position: absolute;
    top: 0;
    left: 30vw;
    right: 0;
    height: 700px;
    width: max(100vw, 1000px);
    background-image: url('../assets/mountain.png');
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 1;
  }

  &__description {
    width: min(1280px, 100%);
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0 20px;
  }

  &__title {
    font-size: 60px;
  }

  &__text {
    font-size: 16px;
    max-width: min(650px, 50vw);
    margin-top: 25px;
    font-weight: normal;
  }

  &__tags {
    font-size: 12px;
    color: $buttonsP;
  }

  &__slider__dote--active::before {
    background-color: $darkEls;
  }
}

@media only screen and (max-width: 768px) {
  .excurs__title {
    font-size: 50px;
  }

  .excurs__text {
    max-width: 60%;
  }
}

@media only screen and (max-width: 500px) {
  .excurs__text {
    max-width: 80%;
  }
}

.vip-tours {
  z-index: 3;
  @extend %text-font;
  margin-bottom: 20px;

  &__background {
    position: relative;
    min-height: 500px;
    width: 100%;
    background-color: #f1f1f1;
    color: #000;
  }

  &__background__top {
    position: absolute;
    top: -150px;
    left: 0;
    transform: translateY(-80%);
    height: 456px;
    width: 100%;
    background-image: url('../assets/clouds.png');
    background-size: cover;
    transform: rotate(180deg);
    z-index: 0;
  }

  &__description {
    width: min(1280px, 100%);
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0 20px;
  }

  &__title {
    font-size: 60px;
  }

  &__text {
    font-size: 16px;
    max-width: 650px;
    margin-top: 25px;
    font-weight: normal;
  }

  &__tags {
    font-size: 12px;
    color: $buttonsP;
  }

  &__slider__dote--active::before {
    background-color: $darkEls;
  }
}

@media only screen and (max-width: 768px) {
  .vip-tours__title {
    margin-top: 20px;
    font-size: 50px;
  }
}

.sea {
  margin-top: 20px;
  z-index: 3;
  @extend %text-font;
  margin-bottom: 50px;

  &__background {
    position: relative;
    min-height: 500px;
    width: 100%;
    background-image: url('../assets/sea_bg.png');
    background-size: cover;
    color: #000;
  }

  &__background__top {
    position: absolute;
    top: 8%;
    right: 2%;
    height: 200px;
    width: 200px;
    background-image: url('../assets/birds.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
  }

  &__description {
    width: min(1280px, 100%);
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  &__title {
    font-size: 60px;
  }

  &__text {
    font-size: 16px;
    max-width: 650px;
    margin-top: 25px;
    font-weight: normal;
  }

  &__tags {
    font-size: 12px;
    color: $buttonsP;
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    justify-content: center;
  }

  &__card {
    max-width: 30%;
    width: 30%;
    margin: 0;
  }

  &__card:first-child,
  &__card:last-child {
    max-width: calc(70% - 20px);
    width: calc(70% - 20px);
  }

  &__card__img {
    width: 100%;
  }

  &__card__title {
    text-align: start;
  }

  &__card__buttons {
    justify-content: end;
  }
}

@media only screen and (max-width: 1000px) {
  .sea__card:first-child {
    max-width: calc(50% - 20px);
    width: calc(50% - 20px);
  }

  .sea__card:last-child {
    max-width: calc(50% - 20px);
    width: calc(50% - 20px);
  }

  .sea__card {
    max-width: calc(50% - 20px);
    width: calc(50% - 20px);
    min-width: 295px;
  }
}

@media only screen and (max-width: 768px) {
  .sea__title {
    margin-top: 20px;
    font-size: 50px;
  }
}

@media only screen and (max-width: 650px) {
  .sea__card:first-child {
    max-width: 100%;
    width: 100%;
  }

  .sea__card:last-child {
    max-width: 100%;
    width: 100%;
  }

  .sea__card {
    max-width: 100%;
    width: 100%;
    min-width: 295px;
    height: auto;
  }
  .sea {
    .card__img {
      height: 200px;
    }
  }
}

.hotels {
  margin-top: 20px;
  z-index: 3;
  @extend %text-font;
  margin-bottom: 50px;

  &__background {
    position: relative;
    width: 100%;
  }

  &__background__top {
    position: absolute;
    top: 45%;
    left: 0;
    height: 280px;
    width: 500px;
    background-image: url('../assets/cloud1.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
  }

  &__background__bottom {
    position: absolute;
    top: 33%;
    right: 0;
    height: 280px;
    width: 500px;
    background-image: url('../assets/cloud2.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
  }

  &__description {
    width: min(1280px, 100%);
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  &__title {
    font-size: 60px;
    color: $textBlue;
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
  }

  &__card {
    max-width: 32%;
    width: 33%;
    margin: 0;
  }

  &__card__img {
    width: 100%;
  }

  &__card__title {
    text-align: start;
  }

  &__card__buttons {
    justify-content: end;
  }
}

@media only screen and (max-width: 768px) {
  .hotels__title {
    margin-top: 20px;
    font-size: 50px;
  }
}

@media only screen and (max-width: 440px) {
  .hotels__title {
    margin-top: 20px;
    font-size: 35px;
  }
}

.transfers {
  margin-top: 20px;
  z-index: 3;
  @extend %text-font;
  margin-bottom: 50px;
  color: $textBlue;

  &__background {
    position: relative;
    width: 100%;
    background-image: url('../assets/transfer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__background__top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 30px;
    background-image: url('../assets/transfer-line.png');
    background-size: contain;
    background-repeat: repeat-x;
    z-index: 0;
  }

  &__background__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 30px;
    background-image: url('../assets/transfer-line.png');
    background-size: contain;
    background-repeat: repeat-x;
    z-index: 0;
  }

  &__description {
    width: min(1280px, 100%);
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  &__title {
    font-size: 60px;
    color: $textBlue;
    margin-top: 50px;
  }

  &__text {
    font-size: 16px;
    max-width: 650px;
    margin-top: 25px;
    font-weight: normal;
  }

  &__tags {
    font-size: 12px;
    color: $textLight;
    margin-bottom: 20px;
  }

  &__form {
    display: flex;
    font-size: 15px;
  }

  &__form input {
    border: none;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
    margin: 10px 5px;
    background-color: $inputsBg;
    color: $buttonsP;
  }

  &__form input::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  &__form input[type='checkbox'] {
    position: relative;
    opacity: 1;
    cursor: pointer;
    margin: 0 10px;
  }

  &__form input[type='checkbox']::before {
    content: '';
    position: absolute;
    top: -7px;
    left: -5px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #ccc;
    transition: all ease 0.2s;
  }

  &__form input[type='checkbox']:checked:before {
    background-color: #007bff;
    content: '✓';
    display: flex;
    align-items: center;
    justify-content: center;
    color: $textBlue;
    transition: all ease 0.2s;
  }

  &__form__left {
    max-width: calc(50% - 20px);
    margin-right: 20px;
  }

  &__form__fields__dates {
    margin-top: 10px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
  }

  &__form__fields__dates__first,
  &__form__fields__dates__second {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__form__input__time {
    bottom: 0;
    left: 15%;
    position: absolute;
  }

  #transfers__form__input__time2 {
    left: 57%;
  }

  &__form__input__from__location {
    width: 100%;
    margin: 10px 0 !important;
  }

  &__form__input__from__location__box {
    position: relative;
  }

  &__form__input__from__location__suppose {
    position: absolute;
    top: 45px;
    left: 0;
    right: -5px;
    max-height: 200px;
    background-color: #313131;
    z-index: 1000;
    list-style: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    overflow-y: scroll;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  &__form__input__from__location__suppose.active {
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  &__form__input__from__location__suppose li {
    margin: 5px;
    border-bottom: 1px solid $textBlue;
  }

  &__form__fields__details__box {
    display: flex;
    align-items: center;
  }

  #transfers__form__input__passangers {
    width: 70px;
    text-align: center;
  }

  #transfers__form__input__baggadge {
    width: 70px;
    text-align: center;
  }

  &__form__fields__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__form__right {
    margin-top: 20px;
    width: 50%;
  }

  .carousel-container {
    position: relative;
    margin-top: 20px;
  }

  .carousel__vertical__line {
    position: absolute;
    background-color: $blue;
    top: 30px;
    left: 20px;
    height: 312px;
    width: 2px;
  }

  .carousel__vertical__button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -14px;
    border: none;
    width: 30px;
    height: 30px;
    background-color: $buttonsP;
    border-radius: 15px;
    cursor: pointer;
  }

  .carousel__vertical__button__up {
    top: -28px;
  }

  .carousel__vertical__dote {
    position: absolute;
    width: 10px;
    height: 10px;
    left: -4px;
    background-color: $bgColor;
    border: 2px solid $blue;
    border-radius: 100%;
    transition: all 0.9s ease;
  }

  .carousel__vertical__button__down {
    bottom: -28px;
  }

  .carousel-menu {
    margin-left: 50px;
    padding: 0;
    list-style-type: none;
    position: relative;
  }

  .carousel-item {
    position: absolute;
    left: 0;
    padding: 10px;
    transition-property: top, left, width, height, transform, padding-left,
      color, border;
    transition-duration: 0.9s;
    transition-timing-function: ease;
    opacity: 1;
    cursor: pointer;
  }

  .carousel-item.order__1 {
    padding-left: 70px;
    color: rgba($textLight, 0.6);
    z-index: 1;
  }

  .carousel-item.order__2 {
    padding-left: 20px;
    color: rgba($textLight, 0.8);
    z-index: 2;
  }

  .carousel-item.order__3 {
    z-index: 10;
    color: $blue;
    border-bottom: 2px solid $textLight;
  }

  .carousel-item.order__4 {
    padding-left: 20px;
    color: rgba($textLight, 0.8);
    z-index: 3;
  }

  .carousel-item.order__5 {
    padding-left: 70px;
    color: rgba($textLight, 0.6);
    z-index: 1;
  }

  .carousel__item_hidden {
    opacity: 0;
  }

  &__form__submit {
    background-color: $blue;
    border: none;
    padding: 15px;
    margin: 380px auto 0;
    margin-left: 5px;
    width: 50%;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
  }

  .car {
    &__carousel-container {
      position: relative;
      margin-top: 20px;
      padding-bottom: 170px;
    }

    &__carousel-menu {
      padding: 0;
      list-style-type: none;
      position: relative;
    }

    &__carousel-item {
      position: absolute;
      bottom: -180px;
      left: 0;
      padding: 10px;
      width: 16%;
      margin: 0 1%;
      transition-property: top, left, width, height, transform, padding-left,
        bottom, color, border, background-color;
      transition-duration: 0.9s;
      transition-timing-function: ease;
      opacity: 1;
      cursor: pointer;
      height: 180px;
      background-color: $inputsBg;
      color: $textDark;
      border-radius: 15px;
      cursor: pointer;
    }

    &__carousel-item__box {
      display: flex;
      flex-direction: column;
    }

    &__carousel-item__title {
      font-size: 15px;
    }

    &__carousel-item__text {
      font-size: 10px;
      margin-top: 5px;
      line-height: 1.1;
    }

    &__carousel-item__img {
      max-width: 100%;
      height: 110px;
      transition: all 0.9s ease;
      object-fit: contain;
    }

    &__carousel-item.order__1 {
      z-index: 1;
    }

    &__carousel-item.order__2 {
      z-index: 2;
    }

    &__carousel-item.order__3 {
      width: 32.5%;
      height: 240px;
      background-color: $middle;

      .car__carousel-item__img {
        height: 160px;
      }
    }

    &__carousel-item.order__4 {
      z-index: 3;
    }

    &__carousel-item.order__5 {
      z-index: 1;
    }

    &__carousel__item_hidden {
      opacity: 0;
    }
  }
}

@media only screen and (max-width: 1150px) {
  .transfers__form__left {
    max-width: calc(70% - 20px);
    margin-right: 20px;
  }

  .transfers__form__fields__contacts {
    justify-content: start;
    max-width: 70%;
  }

  .transfers__form__submit {
    width: auto;
  }

  .transfers__form__right {
    width: 30%;
  }
}

@media only screen and (max-width: 930px) {
  .transfers__form {
    font-size: 14px;
  }
}

@media only screen and (max-width: 930px) {
  .transfers__form {
    font-size: 14px;
  }
}

@media only screen and (max-width: 875px) {
  .transfers__form__input__time {
    position: relative;
    left: 0;
  }

  .transfers #transfers__form__input__time2 {
    left: 0;
  }

  .transfers__form__left {
    max-width: 100%;
    width: 100%;
    margin-right: 0;
  }

  .transfers__form {
    flex-wrap: wrap;
  }

  .transfers__form__right {
    width: 100%;
    max-width: 100%;
  }
  .transfers {
    .car__carousel-item {
      width: 23%;
    }

    .car__carousel-item.order__3 {
      bottom: 160px;
      height: auto;
      transform: translateX(20%);
    }
  }
}

@media only screen and (max-width: 575px) {
  .transfers {
    .car__carousel-item {
      padding: 3px;
      font-size: 13px;
      height: auto;
    }

    .car__carousel-item__title {
      font-size: 13px;
      text-align: center;
    }

    .car__carousel-item__text {
      text-align: center;
    }

    .car__carousel-item__img {
      height: 70px;
    }

    .car__carousel-item__text__description {
      display: none;
    }
  }
}

@media only screen and (max-width: 470px) {
  .transfers__form {
    flex-wrap: wrap;
    justify-content: center;
  }

  .transfers__form__right {
    width: 300px;
    max-width: 300px;
  }

  .transfers__form__submit {
    display: block;
    margin: 400px auto 0;
  }
}

@media only screen and (max-width: 400px) {
  .transfers__form__fields__dates__first,
  .transfers__form__fields__dates__second {
    max-width: 280px;
  }

  .transfers__form__input__time {
    margin-left: 40px !important;
  }

  .transfers__form__fields__contacts {
    flex-wrap: wrap;
  }

  .transfers__form__fields__contacts div {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.reviews {
  z-index: 3;
  @extend %text-font;
  margin-top: 30px;
  margin-bottom: 20px;
  color: rgba($textBlue, 1);

  &__title {
    font-size: 60px;
    margin-bottom: 20px;
  }

  &__slider__dote--active::before {
    background-color: $darkEls;
  }

  .slider {
    margin-left: 0;
  }

  .slider__dote--active::before {
    background-color: rgba($textLight, 1);
  }

  &__slider__card {
    width: 310px !important;
    height: 214px;
    margin-right: 20px;
    padding: 10px 15px;
    background-image: linear-gradient(
      to bottom right,
      #424242,
      rgba(40, 49, 60, 0.6)
    );
    border: 2px solid transparent; /* Прозрачная рамка */
    border-radius: 15px;
  }

  &__slider__time {
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    color: rgba($textLight, 0.8);
  }

  &__slider__stars {
    display: flex;
  }

  &__slider__title {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  &__slider__text {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    color: rgba($textLight, 1);
  }

  &__slider__name {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 14px;
    color: rgba($blue, 1);
  }
}

@media only screen and (max-width: 768px) {
  .reviews__title {
    font-size: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .reviews__slider__card {
    margin: 0 calc(50% - 155px);
  }
}

.footer {
  margin-top: 25px;
  font-size: 20px;

  &__background {
    background-color: $darkEls;
  }

  .left__border {
    padding-left: 20px;
    position: relative;
  }

  .left__border::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      transparent,
      $textLight,
      transparent
    );
    z-index: 1;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba($textLight, 0.8);
    padding-bottom: 20px;
  }

  &__inner__nav {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  &__nav__link {
    margin-bottom: 10px;
    text-decoration: none;
    color: rgba($textLight, 1);
  }

  &__inner__tg__link {
    text-decoration: none;
    color: rgba($textLight, 1);
    margin-bottom: 15px;
  }

  &__inner__tg__link__subscribe {
    margin-left: 15px;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid rgba($textLight, 0.8);
    border-radius: 10px;
  }

  &__inner__tg__box {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
  }

  &__inner__tg__box__img {
    height: 100px;
    width: 100px;
    object-fit: cover;
  }

  &__social__box {
    display: flex;
    margin-top: 25px;
  }

  &__social__link + &__social__link {
    margin-left: 15px;
  }

  &__social__link__img {
    width: 35px;
    height: 35px;
  }

  &__phone__link {
    display: flex;
    align-items: center;
  }

  &__phone__link__img {
    width: 20px;
    height: 20px;
  }

  &__phone__link__text {
    margin-left: 15px;
  }

  &__phone__time {
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 18px;
    color: rgba($textLight, 0.7);
  }

  &__bottom {
    margin: 20px 0;
    font-size: 16px;
    color: rgba($textLight, 0.8);
  }
}
