@import 'vars';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.main {
  background-color: $bgColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  @extend %title-font;
}

.hash-span {
  position: absolute;
  opacity: 0;
}

.section {
  position: relative;
  width: min(1280px, 100%);
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: auto;

  &__background {
    position: relative;
  }

  &__background__left {
    position: absolute;
    height: 541px;
    width: 667px;
    top: -150px;
    right: max(80vw, 1400px);
    background-image: url('../src/assets/bg-left.png');
    background-repeat: no-repeat;
    z-index: 0;
    overflow: hidden;
  }

  &__background__right {
    position: absolute;
    height: 541px;
    width: 667px;
    top: -150px;
    left: max(80vw, 1400px);
    background-image: url('../src/assets/bg-right.png');
    background-repeat: no-repeat;
    z-index: 0;
    overflow: hidden;
  }

  &__logo__img {
    height: 100px;
  }

  &__social {
    width: 25vw;
    display: flex;
  }

  &__social__link__img {
    height: 40px;
  }

  &__phone {
    position: relative;
    padding: 15px 0px 15px 20px;
    border-radius: 15px;
    width: 25vw;
    display: flex;
    flex-direction: column;
    text-align: end;
    background-color: $bgColor;
    font-size: 20px;
  }

  &__phone__link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
    text-decoration: none;
  }

  &__phone__link__img {
    height: 30px;
    margin-right: 10px;
    overflow: hidden;
  }

  &__phone__link__text {
    color: $textLight;
    text-decoration: none;
  }

  &__social__link {
    margin-right: 20px;
  }
}

.hero {
  padding-bottom: 50px;

  &__background {
    width: 100%;
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    overflow-y: visible;
  }

  &__nav {
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    color: $textLight;
    width: min(1280px, 100%);
    @extend %title-font;
  }

  &__nav__link {
    color: $textLight;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    @extend %title-font;
  }

  &__nav__link + .hero__nav__link {
    padding-left: 15px;
  }

  &__box {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  &__slider {
    width: 45vw;
    margin-bottom: 45px;
    height: 75vh;
    display: flex;
    flex-direction: column;
  }

  &__slider__box {
    margin: 0 auto;
    padding: 0 2.5vw;
  }

  &__slider__img {
    width: 45vw;
    height: 70vh;
    object-fit: cover;
  }

  &__slider__controller {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__slider__button {
    display: block;
    margin: 0 5px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: none;
    background-color: $buttons;
  }

  &__slider__button:active {
    background-color: $buttonsP;
  }

  &__slider__button:hover {
    background-color: $buttonsP;
  }

  &__slider__dotes {
    display: flex;
    align-items: center;
  }

  &__slider__dote {
    display: block;
    position: relative;
    width: 8px;
    height: 8px;
    margin: 0 5px;
  }

  &__slider__dote::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $bgSpan;
    border-radius: 50%;
  }

  &__slider__dote--active::before {
    background-color: $textLight;
  }

  &__section {
    width: 100%;
  }

  &__namer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20px;
    margin-bottom: 140px;
  }

  &__namer__header {
    width: 40vw;
    font-family: 'Caveat', cursive;
    font-weight: 700;
    font-size: min(7vh, 8vw);
  }

  &__namer__line {
    position: relative;
    background-color: $bgSpan;
  }

  &__namer__line::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 45vw;
    height: 15px;
    background-color: $bgSpan;
    z-index: 2;
  }

  &__slide__carousel {
    width: 50vw;
  }
}
