@import 'vars';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

.main {
  background-color: $bgColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  @extend %title-font;
}

.hash-span {
  position: absolute;
  opacity: 0;
}

.section {
  position: relative;
  width: min(1280px, 100%);
  padding: 0 20px;
  margin: 0 auto;
}

.section__vide {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.slider {
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  margin-left: calc((100% - min(1280px, 100%)) / 2);
  padding: 0 0 0 20px;

  &__controller {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    display: block;
    margin: 0 5px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: none;
    background-color: $buttons;
    z-index: 2;
  }

  &__button:active {
    background-color: $buttonsP;
  }

  &__button:hover {
    background-color: $buttonsP;
  }

  &__dotes {
    display: flex;
    align-items: center;
  }

  &__dote {
    display: block;
    position: relative;
    width: 8px;
    height: 8px;
    margin: 0 5px;
  }

  &__dote::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $bgSpan;
    border-radius: 50%;
  }

  &__dote--active::before {
    background-color: $textLight;
  }
}

.card {
  max-width: 295px;
  height: 440px;
  margin: 0 20px 0 0;
  background-color: #313131;
  border-radius: 15px;
  padding: 16px;
  position: relative;

  &__price {
    position: absolute;
    padding: 5px 15px;
    top: 16px;
    right: 16px;
    color: $textBlue;
    background-color: $spanBg;
    font-size: 14px;
    border-radius: 0 8px 0 8px;
  }

  &__tags {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 16px;
    padding: 5px 15px;
  }

  &__tag__new {
    background-color: #ff5e2d;
    padding: 0px 5px;
    margin-right: 5px;
  }

  &__tag__hit {
    background-color: #16d9a6;
    padding: 0px 5px;
    margin-right: 5px;
  }

  &__img {
    max-width: 100%;
    height: 328px;
    object-fit: cover;
    border-radius: 8px;
  }

  &__tittle {
    color: $textBlue;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
  }

  &__buttons {
    margin-top: 12px;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: space-between;
  }

  &__about {
    margin-left: 10px;
    padding: 6px 30px 6px 10px;
    border-radius: 15px;
    border: none;
    position: relative;
    background-color: $textBlue;
    color: $buttonsP;
  }

  &__about::after {
    content: '';
    position: absolute;
    top: 3px;
    right: 3px;
    height: 25px;
    width: 25px;
    background-image: url('../assets/eye.svg');
  }

  &__order {
    padding: 6px;
    background-color: $blue;
    border: none;
    border-radius: 15px;
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: auto;
  z-index: 3;
  margin: 0 auto;

  &__background {
    position: relative;
  }

  &__background__left {
    position: absolute;
    height: 541px;
    width: 667px;
    top: -150px;
    right: max(80vw, 1400px);
    background-image: url('../src/assets/bg-left.png');
    background-repeat: no-repeat;
    z-index: 0;
    overflow: hidden;
  }

  &__background__right {
    position: absolute;
    height: 541px;
    width: 667px;
    top: -150px;
    left: max(80vw, 1400px);
    background-image: url('../src/assets/bg-right.png');
    background-repeat: no-repeat;
    z-index: 0;
    overflow: hidden;
  }

  &__logo__img {
    height: 100px;
  }

  &__social {
    width: 25vw;
    display: flex;
  }

  &__social__link__img {
    height: 40px;
  }

  &__phone {
    position: relative;
    padding: 15px 0px 15px 20px;
    border-radius: 15px;
    width: 25vw;
    display: flex;
    flex-direction: column;
    text-align: end;
    background-color: $bgColor;
    font-size: 20px;
  }

  &__phone__link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
    text-decoration: none;
  }

  &__phone__link__img {
    height: 30px;
    margin-right: 10px;
    overflow: hidden;
  }

  &__phone__link__text {
    color: $textLight;
    text-decoration: none;
  }

  &__phone__time {
    color: $textLight;
    text-decoration: none;
  }

  &__social__link {
    margin-right: 20px;
  }
}

.hero {
  padding-bottom: 200px;
  z-index: 3;

  &__background {
    width: 100%;
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    overflow-y: visible;
  }

  &__nav {
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    color: $textLight;
    width: min(1280px, 100%);
    @extend %title-font;
  }

  &__nav__link {
    color: $textLight;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    @extend %title-font;
  }

  &__nav__link + .hero__nav__link {
    padding-left: 15px;
  }

  &__box {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  &__slider {
    width: 45vw;
    margin-bottom: 45px;
    height: 75vh;
    display: flex;
    flex-direction: column;
  }

  &__slider__box {
    margin: 0 auto;
    padding: 0 2.5vw;
  }

  &__slider__img {
    width: 45vw;
    height: 70vh;
    object-fit: cover;
  }

  &__slider__controller {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__slider__button {
    display: block;
    margin: 0 5px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: none;
    background-color: $buttons;
    z-index: 2;
  }

  &__slider__button:active {
    background-color: $buttonsP;
  }

  &__slider__button:hover {
    background-color: $buttonsP;
  }

  &__slider__dotes {
    display: flex;
    align-items: center;
  }

  &__slider__dote {
    display: block;
    position: relative;
    width: 8px;
    height: 8px;
    margin: 0 5px;
  }

  &__slider__dote::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $bgSpan;
    border-radius: 50%;
  }

  &__slider__dote--active::before {
    background-color: $textLight;
  }

  &__section {
    width: 100%;
  }

  &__namer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20px;
    margin-bottom: 140px;
  }

  &__namer__header {
    width: 40vw;
    font-family: 'Caveat', cursive;
    font-weight: 700;
    font-size: min(7vh, 8vw);
  }

  &__namer__line {
    position: relative;
    background-color: $bgSpan;
  }

  &__namer__line::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 45vw;
    height: 15px;
    background-color: $bgSpan;
    z-index: 2;
  }

  &__slide__carousel {
    width: 50vw;
  }
}

.excurs {
  z-index: 3;
  @extend %text-font;
  margin-bottom: 20px;

  &__background {
    position: relative;
    min-height: 500px;
    width: 100%;
    background-color: $textLight;
    color: #000;
  }

  &__background__top {
    position: absolute;
    top: 120px;
    left: 0;
    transform: translateY(-80%);
    height: 456px;
    width: 100%;
    background-image: url('../assets/clouds.png');
    background-size: cover;
    z-index: 0;
  }

  &__background__mountain {
    position: absolute;
    top: 0;
    left: 30vw;
    right: 0;
    height: 700px;
    width: max(100vw, 1000px);
    background-image: url('../assets/mountain.png');
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 1;
  }

  &__description {
    width: min(1280px, 100%);
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0 20px;
  }

  &__title {
    font-size: 60px;
  }

  &__text {
    font-size: 16px;
    max-width: 650px;
    margin-top: 25px;
    font-weight: normal;
  }

  &__tags {
    font-size: 12px;
    color: $buttonsP;
  }

  &__slider__dote--active::before {
    background-color: $darkEls;
  }
}

.vip-tours {
  z-index: 3;
  @extend %text-font;
  margin-bottom: 20px;

  &__background {
    position: relative;
    min-height: 500px;
    width: 100%;
    background-color: #f1f1f1;
    color: #000;
  }

  &__background__top {
    position: absolute;
    top: -150px;
    left: 0;
    transform: translateY(-80%);
    height: 456px;
    width: 100%;
    background-image: url('../assets/clouds.png');
    background-size: cover;
    transform: rotate(180deg);
    z-index: 0;
  }

  &__description {
    width: min(1280px, 100%);
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0 20px;
  }

  &__title {
    font-size: 60px;
  }

  &__text {
    font-size: 16px;
    max-width: 650px;
    margin-top: 25px;
    font-weight: normal;
  }

  &__tags {
    font-size: 12px;
    color: $buttonsP;
  }

  &__slider__dote--active::before {
    background-color: $darkEls;
  }
}

.sea {
  margin-top: 20px;
  z-index: 3;
  @extend %text-font;
  margin-bottom: 50px;

  &__background {
    position: relative;
    min-height: 500px;
    width: 100%;
    background-image: url('../assets/sea_bg.png');
    background-size: cover;
    color: #000;
  }

  &__background__top {
    position: absolute;
    top: 8%;
    left: 2%;
    height: 200px;
    width: 200px;
    background-image: url('../assets/birds.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
  }

  &__description {
    width: min(1280px, 100%);
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  &__title {
    font-size: 60px;
  }

  &__text {
    font-size: 16px;
    max-width: 650px;
    margin-top: 25px;
    font-weight: normal;
  }

  &__tags {
    font-size: 12px;
    color: $buttonsP;
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
  }

  &__card {
    max-width: 30%;
    width: 30%;
    margin: 0;
  }

  &__card:first-child,  &__card:last-child {
    max-width: calc(70% - 20px);
    width: calc(70% - 20px);
  }

  &__card__img {
    width: 100%;
  }

  &__card__title {
    text-align: start;
  }

  &__card__buttons {
    justify-content: end;
  }
}

.hotels {
  margin-top: 20px;
  z-index: 3;
  @extend %text-font;
  margin-bottom: 50px;

  &__background {
    position: relative;
    width: 100%;
  }

  &__background__top {
    position: absolute;
    top: 45%;
    left: 0;
    height: 280px;
    width: 500px;
    background-image: url('../assets/cloud1.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
  }

  &__background__bottom {
    position: absolute;
    top: 33%;
    right: 0;
    height: 280px;
    width: 500px;
    background-image: url('../assets/cloud2.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
  }

  &__description {
    width: min(1280px, 100%);
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  &__title {
    font-size: 60px;
    color: $textBlue;
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
  }

  &__card {
    max-width: 32%;
    width: 33%;
    margin: 0;
  }

  &__card__img {
    width: 100%;
  }

  &__card__title {
    text-align: start;
  }

  &__card__buttons {
    justify-content: end;
  }
}
